<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meteoreala</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Meteoreala</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/upload">Upload</a>
      </li>

        </ul>

  </div>
</nav>

    <div class = "container-fluid">
        <p class = "h1"> Advanced searching </p>
        <form action = "/" method="get">
          <div class="form-group">
            <label for="locationInput">Location</label>
            <input type="text" class="form-control" id="locationInput"  placeholder="Enter location" name="location">

          </div>
          <div class="form-group">
            <label for="dateInput">Date</label>
            <input type="date" class="form-control" id="dateInput" aria-describedby="dateHelp" placeholder="Enter Date" name="date">
            <small id="dateHelp" class="form-text text-muted">You can leave one of the fields empty</small>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

    <hr>

    <div class = "container-fluid">
        <p class = "h1"> Or search for a document by the database id </p>

        <form action = "" method = "get">
            <div class="form-group">
                <label for="databaseId">Database Id</label>
                <input type="text" class="form-control" id="databaseId"  placeholder="Enter Id" name="databaseId">
            </div>
           <button type="submit" class="btn btn-primary">Submit</button>

        </form>


    </div>

    <div class = "container-fluid">

        {% for meteor in meteors %}

            <div class = "container">

                <p class = "h3"> Detection Info.</p>

                <p>Location: {{ meteor.location }}</p>
                <p>Time: {{ meteor.date }}</p>
                <p>Database id: {{ meteor['_id'] }}</p>
                <p>Fits File location: {{ meteor.save_path }}</p>


                <img src= "{{ meteor.plot_name }}">

                <p class = "h1">Coordinates</p>

                <p> Start Point - Right Ascension: {{ meteor['coordinates']['start_point']['start_point_ra'] }}, Declination: {{ meteor['coordinates']['start_point']['start_point_dec'] }}</p>

                <p> End Point - Right Ascension: {{ meteor['coordinates']['end_point']['end_point_ra'] }}, Declination: {{ meteor['coordinates']['end_point']['end_point_dec'] }}</p>

                <p class = "h3"> Other Information</p>

                <p>Angular Distance: {{ meteor.angular_distance }}</p>
                <p>Magnitude: {{ meteor.magnitude }}</p>
                <p>Meteor_Shower: {{ meteor.meteor_shower }}</p>

                <a href = "/{{ meteor['_id'] }}"><button type="button" class="btn btn-primary">Go to meteor page</button></a>

                <hr>

            </div>

        {% endfor %}

    </div>
</body>
</html>